<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<title>Board</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='core.css') }}" type="text/css" media="screen" charset="utf-8" />

</head>
<body>

	<h1>Board</h1>

	<ol id="items">
		{% for item in items %}
			<li>
				<dl>
					{% for k, v in item.items() %}
						<dt>{{ k }}</dt>
						<dd>{{ v }}</dd>
					{% endfor %}
				</dl>
			</li>
		{% endfor %}
	</ol>

	<form action="{{ url_for('item_create') }}" method="post">
		<div class="field">
			<label for="id_title">Title</label>
			<input id="id_title" name="title" type="text" />
		</div>
		<div class="field">
			<label for="id_text">Text</label>
			<textarea id="id_text" name="text" rows="8" cols="40"></textarea>
		</div>
		<button type="submit">Save</button>
	</form>

</body>
</html>
